@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  background-color: black;
  width: 100%; }
  body .iconoWpp {
    position: fixed;
    width: 240px;
    height: 130px;
    top: 590px;
    left: 1330px;
    font-size: 1.8rem; }

/* LISTAS */
/*----MAPS----*/
/* MIXIN */
/*----HEADER----*/
.navbar-dark {
  font-size: 1.25rem;
  color: #ffffff;
  margin: 0px 0px 0px 25px;
  padding: 13px;
  text-decoration: none;
  transition: background .3s;
  transition: border-radius 0s; }
  .navbar-dark .container-fluid {
    background-color: black; }
    .navbar-dark .container-fluid .navbar-brand {
      display: flex;
      height: 80px; }
    .navbar-dark .container-fluid .collapse {
      flex-grow: initial; }
      .navbar-dark .container-fluid .collapse .navbar-nav .nav-item .nav-link {
        font-size: 1.25rem;
        color: #ffffff;
        margin: 0px 0px 0px 25px;
        transition: background .3s;
        transition: border-radius 0s; }
        .navbar-dark .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover {
          color: white;
          background-color: #373535;
          border-radius: 20px; }
      .navbar-dark .container-fluid .collapse .dropdown-menu {
        background-color: black; }
        .navbar-dark .container-fluid .collapse .dropdown-menu .dropdown-item {
          color: #ffffff; }
          .navbar-dark .container-fluid .collapse .dropdown-menu .dropdown-item:hover {
            color: white;
            background-color: #343434; }
        .navbar-dark .container-fluid .collapse .dropdown-menu .dropdown-divider {
          color: #ffffff;
          border: 1px solid white; }
      .navbar-dark .container-fluid .collapse .d-flex .btn.btn-outline-success {
        color: #ffffff;
        border-color: red;
        border-radius: 9px; }
        .navbar-dark .container-fluid .collapse .d-flex .btn.btn-outline-success:hover {
          background-color: red; }

/* FOOTER */
#pie-de-pagina {
  width: 100%;
  padding: 0px 2rem 0px 2rem;
  border: 2px solid grey;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-top: 20px; }
  #pie-de-pagina h2 {
    font-family: "Gill Sans";
    font-size: 1.5rem;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; }
  #pie-de-pagina .h5Flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 5px; }
    #pie-de-pagina .h5Flex .mapa {
      border-radius: 100px; }
  #pie-de-pagina .h5Flex2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; }
    #pie-de-pagina .h5Flex2 .redesSocialesContainer {
      font-size: 1.8rem;
      margin: 0px 10px;
      margin-bottom: 15px;
      list-style: none; }
      #pie-de-pagina .h5Flex2 .redesSocialesContainer .iconosRedes {
        color: #ff0000; }
        #pie-de-pagina .h5Flex2 .redesSocialesContainer .iconosRedes:hover {
          color: white; }

/*----INDEX----*/
.probandoImagen {
  width: 100%;
  padding: 0px 2rem 0px 2rem;
  background-image: url(../img/fondo-de-madera.jpg); }
  .probandoImagen h1 {
    font-family: "Gill Sans";
    font-size: 2.5rem;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    padding-top: 100px;
    animation: animacionTitulo 1.3s 1 ease-in-out; }

@keyframes animacionTitulo {
  0% {
    transform: translate(0px, -400px);
    opacity: 0; }
  100% {
    transform: translate(0px, 0px);
    opacity: 1; } }
  .probandoImagen h2 {
    font-family: "Gill Sans";
    font-size: 1.75rem;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    padding: 5px;
    animation: animacionSubtitulo 1.3s 1 ease-in-out; }

@keyframes animacionSubtitulo {
  0% {
    transform: translate(0px, 400px);
    opacity: 0; }
  100% {
    transform: translate(0px, 0px);
    opacity: 1; } }
  .probandoImagen .desde1960 {
    font-family: "Gill Sans";
    font-size: 1.25rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 50px; }

.h4Flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  width: 100%;
  padding: 0px 2rem 0px 2rem;
  margin: 0 auto;
  font-family: "Gill Sans";
  font-size: 1.75rem;
  color: #ffffff;
  background-color: black; }
  .h4Flex .envios {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px; }
  .h4Flex .aceptamosTodas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px; }
  .h4Flex .sitioSeguro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px; }

.cortesCarne {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  width: 100%;
  padding: 0px 2rem 0px 2rem;
  margin: 0 auto;
  text-align: center;
  background-color: black;
  margin-bottom: 0px; }
  .cortesCarne .cortesV {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    font-family: "Gill Sans";
    font-size: 1.625rem;
    color: #000000;
    padding-top: 125px;
    padding-bottom: 125px;
    background-image: url(../../img/cortesVaca.jpg);
    border: 4px solid white;
    background-size: cover; }
  .cortesCarne .cortesC {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    font-family: "Gill Sans";
    font-size: 1.625rem;
    color: #000000;
    padding-top: 125px;
    padding-bottom: 125px;
    background-image: url(../../img/cortesCerdo.jpg);
    border: 4px solid white;
    background-size: cover; }
  .cortesCarne .cortesP {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    font-family: "Gill Sans";
    font-size: 1.625rem;
    color: #000000;
    padding-top: 125px;
    padding-bottom: 125px;
    background-image: url(../../img/cortesPollo.jpg);
    border: 4px solid white;
    background-size: cover; }

/*----PRODUCTOS----*/
.mainProductos {
  color: #ffffff;
  margin-bottom: 150px; }
  .mainProductos .containerColoFondo {
    position: relative; }
  .mainProductos .tiendaDeCarnes {
    position: absolute;
    padding: 15px;
    bottom: 2%;
    left: calc(50% - 165px);
    border: 1px solid white;
    background-color: black; }
    .mainProductos .tiendaDeCarnes .cuadradoDeLaImagen {
      font-family: "Gill Sans";
      font-size: 1.375rem;
      color: #ffffff;
      margin-bottom: 0px; }
  .mainProductos .productosGrid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    width: 100%;
    padding: 0px 2rem 0px 2rem;
    margin: 0 auto;
    list-style: none;
    background-color: black; }
    .mainProductos .productosGrid .cajas {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      margin: 0 auto;
      font-family: "Gill Sans";
      font-size: 1.75rem;
      color: #ffffff;
      border: 2px solid white;
      border-radius: 4px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .mainProductos .productosGrid .c1 {
      width: 100%;
      height: 300px;
      background-image: url(../img/peceto_fondoNegro.webp); }
    .mainProductos .productosGrid .c2 {
      width: 100%;
      height: 300px;
      background-image: url(../img/nalga_fondoNegro.jpg); }
    .mainProductos .productosGrid .c3 {
      width: 100%;
      height: 300px;
      background-image: url(../img/bolaLomo_fondoNegro.jpg); }
    .mainProductos .productosGrid .c4 {
      width: 100%;
      height: 300px;
      background-image: url(../img/bifeChorizo_fondoNegro.jpg); }
    .mainProductos .productosGrid .c5 {
      width: 100%;
      height: 300px;
      background-image: url(../img/cuadrada_fondoNegro.jpg); }
    .mainProductos .productosGrid .c6 {
      width: 100%;
      height: 300px;
      background-image: url(../img/bifeAngosto_fondoNegro.jpg); }
    .mainProductos .productosGrid .c7 {
      width: 100%;
      height: 300px;
      background-image: url(../img/asado_fondoNegro.jpeg); }
    .mainProductos .productosGrid .c8 {
      width: 100%;
      height: 300px;
      background-image: url(../img/vacio_fondoNegro.jpg); }
    .mainProductos .productosGrid .c9 {
      width: 100%;
      height: 300px;
      background-image: url(../../img/tapaAsado_fondoNegro.jpg); }
    .mainProductos .productosGrid .c10 {
      width: 100%;
      height: 300px;
      background-image: url(../../img/tapa_nalga_fondoNegro.jpg); }
    .mainProductos .productosGrid .c11 {
      width: 100%;
      height: 300px;
      background-image: url(../../img/matambre_fondoNegro.jpg); }
    .mainProductos .productosGrid .c12 {
      width: 100%;
      height: 300px;
      background-image: url(../img/americano_fondoNegro.jpg); }
    .mainProductos .productosGrid .c13 {
      width: 100%;
      height: 300px;
      background-image: url(../img/entraña_fondoNegro.jpg); }
    .mainProductos .productosGrid .c14 {
      width: 100%;
      height: 300px;
      background-image: url(../img/cima_fondoNegro.jpg); }
    .mainProductos .productosGrid .c15 {
      width: 100%;
      height: 300px;
      background-image: url(../img/bife_ancho_fondoNegro.jpg); }
    .mainProductos .productosGrid .c16 {
      width: 100%;
      height: 300px;
      background-image: url(../img/lomo2_fondoNegro.jpg); }
    .mainProductos .productosGrid .c17 {
      width: 100%;
      height: 300px;
      background-image: url(../img/roast_beef_fondoNegro.jpg); }
    .mainProductos .productosGrid .c18 {
      width: 100%;
      height: 300px;
      background-image: url(../img/paleta-fondoNegro.jpg); }
    .mainProductos .productosGrid .c19 {
      width: 100%;
      height: 300px;
      background-image: url(../img/cuadril_fondoNegro.jpg); }
    .mainProductos .productosGrid .c20 {
      width: 100%;
      height: 300px;
      background-image: url(../img/colitacuadril_fondoNegro.jpg); }
    .mainProductos .productosGrid .c21 {
      width: 100%;
      height: 300px;
      background-image: url(../img/palomita_fondoNegro.jpg); }
    .mainProductos .productosGrid .c22 {
      width: 100%;
      height: 300px;
      background-image: url(../img/tortuguita_fondoNegro.jpg); }
    .mainProductos .productosGrid .c23 {
      width: 100%;
      height: 300px;
      background-image: url(../img/osobuco_fondoNegro.jpg); }
    .mainProductos .productosGrid .c24 {
      width: 100%;
      height: 300px;
      background-image: url(../img/espinazo_fondoNegro.jpg); }
    .mainProductos .productosGrid .c25 {
      width: 100%;
      height: 300px;
      background-image: url(../img/escondido_fondoNegro.jpg); }
    .mainProductos .productosGrid .c26 {
      width: 100%;
      height: 300px;
      background-image: url(../img/chorizos_fondoNegro.jpg); }
    .mainProductos .productosGrid .c27 {
      width: 100%;
      height: 300px;
      background-image: url(../img/morcilla2_fondoNegro.jpg); }
    .mainProductos .productosGrid .c28 {
      width: 100%;
      height: 300px;
      background-image: url(../img/pollo_fondoNegro.jpg); }
    .mainProductos .productosGrid .c29 {
      width: 100%;
      height: 300px;
      background-image: url(../img/pechugas_fondoNegro.jpg); }
    .mainProductos .productosGrid .c30 {
      width: 100%;
      height: 300px;
      background-image: url(../img/patamuslo_fondoNegro.jpg); }
    .mainProductos .productosGrid .c31 {
      width: 100%;
      height: 300px;
      background-image: url(../img/pechitoCerdo2_fondoNegro.jpg); }
    .mainProductos .productosGrid .c32 {
      width: 100%;
      height: 300px;
      background-image: url(../img/carreCerdo1_fondoNegro.jpg); }
    .mainProductos .productosGrid .c33 {
      width: 100%;
      height: 300px;
      background-image: url(../img/bondiolaCerdo_fondoNegro.jpg); }
    .mainProductos .productosGrid .c34 {
      width: 100%;
      height: 300px;
      background-image: url(../img/solomilloCerdo_fondoNegro.jpg); }
    .mainProductos .productosGrid .c35 {
      width: 100%;
      height: 300px;
      background-image: url(../img/vacioCerdo_fondoNegro.jpg); }
    .mainProductos .productosGrid .c36 {
      width: 100%;
      height: 300px;
      background-image: url(../img/paletaCerdo_fondoNegro.jpg); }
    .mainProductos .productosGrid .c37 {
      width: 100%;
      height: 300px;
      background-image: url(../img/jamonCerdo2-fondoNegro.jpg); }
    .mainProductos .productosGrid .c38 {
      width: 100%;
      height: 300px;
      background-image: url(../img/riñones_fondoNegro.jpg); }
    .mainProductos .productosGrid .c39 {
      width: 100%;
      height: 300px;
      background-image: url(../img/lengua_fondoNegro.jpg); }

/* QUIÉNES SOMOS */
.mainFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0px 2rem 0px 2rem;
  margin: 0 auto;
  color: #ffffff; }
  .mainFlex .imagenDeQuienesSomos {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid white;
    border-radius: 100px; }
  .mainFlex .textoNegocio {
    font-family: "Gill Sans";
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%;
    text-align: center; }

/*----CONTACTO----*/
.mainContactoFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Gill Sans MT";
  font-size: 1.5rem;
  color: #ffffff;
  background-image: url(../img/imagen-carbon2.jpg);
  margin-top: 20px;
  padding: 60px;
  text-align: center; }

.formRegister {
  font-family: "Gill Sans";
  color: #ffffff;
  box-sizing: border-box;
  width: 400px;
  background-image: url(../img/imagen-carbon2.jpg);
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 50px;
  margin-bottom: 100px;
  animation: deslizar 1.5s 1 linear; }

@keyframes deslizar {
  0% {
    transform: translate(-500px);
    opacity: 0; }
  100% {
    transform: translate(0px);
    opacity: 1; } }
  .formRegister .fieldsetStyle {
    text-align: center;
    border-radius: 10px; }
    .formRegister .fieldsetStyle div .controls {
      font-family: "Gill Sans";
      font-size: 1.125rem;
      color: #ffffff;
      width: 94%;
      background-color: black;
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 16px;
      border: 1px solid white; }
    .formRegister .fieldsetStyle div .inputConsultas {
      font-family: "Gill Sans";
      font-size: 1.125rem;
      color: #ffffff;
      width: 94%;
      background-color: black;
      padding: 10px;
      padding-bottom: 80px;
      border-radius: 4px;
      margin-bottom: 16px;
      border: 1px solid white; }
    .formRegister .fieldsetStyle div .botons {
      font-size: 1.625rem;
      color: #000000;
      width: 100%;
      background-color: gainsboro;
      border: none;
      border-radius: 4px;
      border: 1px solid black;
      padding: 12px;
      margin: 10px 0px 25px; }
      .formRegister .fieldsetStyle div .botons:hover {
        color: gainsboro;
        background-color: black;
        border: 1px solid red; }

/*----CARRITO----*/
.mainCarrito {
  margin-bottom: 150px; }
  .mainCarrito .iconoCarritoFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0px 2rem 0px 2rem; }
    .mainCarrito .iconoCarritoFlex .iconoCarrito {
      font-family: "Gill Sans";
      font-size: 10rem;
      color: #ff0000;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 25px;
      padding-bottom: 25px;
      border: 1px solid black;
      border-radius: 300px;
      margin-top: 30px;
      background-color: black; }

/*----MEDIAQUERY----*/
@media screen and (max-width: 992px) {
  .cortesCarne {
    grid-template-columns: repeat(2, 1fr); }
  .h4Flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-align: left; }
    .h4Flex .envios {
      padding-top: 5px;
      padding-bottom: 5px; }
    .h4Flex .aceptamosTodas {
      padding-top: 5px;
      padding-bottom: 5px; }
    .h4Flex .sitioSeguro {
      padding-top: 5px;
      padding-bottom: 5px; }
  .mainProductos .containerColoFondo {
    display: none; }
  .mainProductos .productosGrid {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 600px) {
  .cortesCarne {
    grid-template-columns: repeat(1, 1fr); }
  .mainProductos .productosGrid {
    grid-template-columns: repeat(1, 1fr); } }

@media screen and (max-width: 500px) {
  .textoNegocio {
    width: 100%; } }
