/* aplico reset a los estilos predeterminados */
*{
    margin: 0px;
    padding: 0px;
}

/* aplico color de fondo */
body{
    background-color: black;
    width: 100%;
}

/* aplico el ícono sticky de whatsapp */
.iconoWpp{
    position: fixed;
    width: 240px;
    height: 130px;
    top: 590px;
    left: 1330px;
    font-size: 1.8rem;
}

/* Container-fluid background color */
.container-fluid{
    background-color: red;
}

/* estoy probando si puedo poner la imagen de la madera de fondo en todos los titulos juntos, no por separado */
.probandoImagen{
    background-image: url(../img/fondo-de-madera.jpg);
    
}

/* Colo Carniceria ANIMACIÓN */
main h1{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    padding-top: 100px;
    animation: animacionTitulo 1.3s 1 ease-in-out;
}

/* animación para Colo Carniceria */
@keyframes animacionTitulo{
   0%{
    transform: translate(0px, -400px);
    opacity: 0;
   }
   
   100%{
    transform: translate(0px, 0px);
    opacity: 1;
   }
}

/* Carnes argentinas ANIMACIÓN */
main h2{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    padding: 5px;
    animation: animacionSubtitulo 1.3s 1 ease-in-out;
}

/* animación para Carnes Argentinas */
@keyframes animacionSubtitulo{
    0%{
        transform: translate(0px, 400px);
        opacity: 0;
    }

    100%{
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

/* Desde 1960 brindando la mejor calidad */
/* aca aplicamos el selector class, ya que tengo varios h4 */
.desde1960{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* h4Flex de envios, aceptamos todas las tarjetas, y de sitio seguro */
.h4Flex{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    background-color: black;
}

/* envios */
.envios{
    color: white;
    margin: 0px;
    padding: 50px;
}

/* aceptamos todas las tarjetas */
.aceptamosTodas{
    color: white;
    margin: 0px;
    padding: 50px;
}

/*sitio seguro */
.sitioSeguro{
    color: white;
    margin: 0px;
    padding: 50px;
}

/* h3Flex de cortesV, cortesC, y de cortesP */
.h3Flex{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New       Roman', serif;
    background-color: black;
    margin-bottom: 0px; 
}

/* cortes vacunos */
.cortesV{
    color: black;
    font-size: 25px;
    padding: 130px;
    background-image: url(../img/cortesVaca);
    border: 4px solid white;
    background-size: cover;
}

/* cortes de cerdo */
.cortesC{
    color: black;
    font-size: 25px;
    padding: 130px;
    background-image: url(../img/cortesCerdo.jpg);
    border: 4px solid white;
    background-size: cover;
}

/* cortes de pollo */
.cortesP{
    color: black;
    font-size: 25px;
    padding: 130px;
    background-image: url(../img/cortesPollo.jpg);
    border: 4px solid white;
    background-size: cover;
}

/* footer, todos los derechos reservados */
footer h2{
    color: white;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
}

/* direccion */
.nuestraSucursal{
    color: white;
}

/* h5Flex de nuestra sucursal */
.h5Flex{
    display: flex;
    justify-content: left;
    margin-left: 50px;
    margin-bottom: 5px;
}

/* mapa de la ubicación de la carniceria */
.mapa{
    border-radius: 100px;
}

/* redes sociales */
.redesSocialesContainer{
    font-size: 1.8rem;
    margin: 0px 10px;
    margin-bottom: 15px;
    list-style: none;
}

.iconosRedes{
    color: red;
}

.iconosRedes:hover{
    color: white;
}

/* h5Flex2 de redes sociales */
.h5Flex2{
    display: flex;
    justify-content: center;
}

/* ul-flex de la primer parte del menu */
.ulFlex{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    justify-content: space-around;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}

/* li de buscar */
.buscar{
    color:white;
    list-style: none;
    margin: 0px 0px 0px 5px;
}


/* li de crear cuenta */
.crearCuenta{
    color: white;
    list-style: none;
    margin: 0px 0px 0px 5px;
}

/* li de iniciar sesion */
.iniciarSesion{
    color: white;
    list-style: none;
    margin: 0px 0px 0px 5px;   
}

/* MENÚ DE NAVEGACIÓN */ 
/* color del navbar con bootstrap */
.navbar-dark{
    color: white;
    font-size: 20px;
    margin: 0px 0px 0px 25px;
    padding: 13px;
    text-decoration: none;
    transition: background .3s;
    transition:border-radius 0s;
}

.nav-link{
    color: white;
    font-size: 20px;
    margin: 0px 0px 0px 25px;
    padding: 13px;
    text-decoration: none;
    transition: background .3s;
    transition:border-radius 0s;
}

/* aplico hover al navbar */
.nav-link:hover{
    color: white;
    background-color: rgb(55, 53, 53);
    border-radius: 20px;
}

.collapse{
    flex-grow: initial;
}

/* LOGO de la carniceria con bootstrap */
.navbar-brand{
    display: flex;
    height: 80px;
}

/* botón de Buscar del navbar con bootstrap */
.btn.btn-outline-success{
    color: white;
    border-color: red;
    border-radius: 9px;
}

/* hover del botón buscar del navbar */
.btn.btn-outline-success:hover{
    background-color: red;
}

/* color de fondo del navbar */
.container-fluid{
    background-color: black;
}

/* TODO LO DE ARRIBA FUE LO INDEX.HTML */

/* AHORA SIGUE PRODUCTOS.HTML */
.headerProductos{
    color: white;
}

/* dropdown de productos */
.dropdown-menu.show{
    background-color: black;
}

/* dropdown items */
.dropdown-item{
    color: white;
}

/* dropdown hover */
.dropdown-item:hover{
    color: white;
    background-color: grey;
}

/* línea divisora del dropdown de productos */
.dropdown-divider{
    color: white;
    border: 1px solid white;
    
}

/* main de productos */
.mainProductos{
    color: white;
    margin-bottom: 150px;
}

/* etiqueta container, que sería el carousell */
.containerColoFondo{
    position: relative;
}

/* etiqueta hijo, que sería lo que dice dentro del carousell */
.tiendaDeCarnes{
    position: absolute;
    bottom: 2%;
    left: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid white;
    background-color: black;
}

/* productosFlex de todos los productos */
.productosGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(12, 1fr);
    gap: 20px;
    padding: 0px;
    list-style: none;
    background-color: black
}

/* configuro todas mis cajas por igual con la misma clase */
.cajas{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    border: 2px solid white;

    background-color: aqua;
    border-radius: 4px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* aplico grid a mis hijos */
.c1{
    grid-column: 1/4;
    grid-row: 1/9;
    background-image: url(../img/peceto_fondoNegro.webp);

}
 .c2{
    grid-column: 4/6;
    grid-row: 1/8;
    background-image: url(../img/nalga_fondoNegro.jpg);
 }

 .c3{
    grid-column: 6/8;
    grid-row: 1/8;
    background-image: url(../img/bolaLomo_fondoNegro.jpg);
 }

 .c4{
    grid-column: 8/10;
    grid-row: 1/8;
    background-image: url(../img/bifeChorizo_fondoNegro.jpg);
 }

 .c5{
    grid-column: 10/13;
    grid-row: 1/8;
    background-image: url(../img/cuadrada_fondoNegro.jpg);
 }

 .c6{
    grid-column: 1/4;
    grid-row: 9/16;
    background-image: url(../img/bifeAngosto_fondoNegro);
 }

 .c7{
    grid-column: 4/6;
    grid-row: 8/16;
    background-image: url(../img/asado_fondoNegro.jpeg);
 }

 .c8{
    grid-column: 6/10;
    grid-row: 8/16;background-image: url(../img/vacio_fondoNegro.jpg);
 }

 .c9{
    grid-column: 10/13;
    grid-row: 8/16;
    background-image: url(../img/tapaAsado_fondoNegro.jpg);
 }

 .c10{
    
    
    background-color: deeppink;
 }

 .c11{
    
    
    background-color: navy;
 }

 .c12{
    
    
    background-color: brown;
 }
 
 



/* footer de productos */
.footerProductos{
    color: white;
}

/* LO DE ARRIBA FUE SOBRE EL HTML DE PRODUCTOS */

/* AHORA SIGUE QUIENES SOMOS.HTML */
.h1EnGrande{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    margin-left: 50px;
    margin-right: 50px;
    padding: 40px;
}

/* mainFlex de quienes somos */
.mainFlex{
    display: flex;
    color: white;
    flex-direction: column;
}

/* imagen de los 4 en quienes somos */
.imagenDeQuienesSomos{
    width: 200px;
    height: 200px;
    margin-left: 650px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid white;
    border-radius: 100px;
}

/* texto de la historia de la carniceria */
.textoNegocio{
    color: white;
    margin-top: 50px;
    margin-bottom: 300px;
    margin-left: 350px;
    margin-right: 350px;
    text-align: justify;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* LO DE ARRIBA FUE SOBRE EL HTML DE QUIENES SOMOS */

/* AHORA SIGUE CONTACTO.HTML */
.mainContactoFlex{
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url(../img/imagen-carbon2.jpg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    padding: 60px;
    text-align: center;
}

/* ahora voy a acomodar el formulario, le saque los label para ver como quedaria mejor */
.formRegister{
    box-sizing: border-box;
    width: 400px;
    background-image: url(../img/imagen-carbon2.jpg);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-bottom: 150px;
    animation: deslizar 1.5s 1 linear;
}

.formRegister legend{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls{
    width: 94%;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 4px;margin-bottom: 16px;
    border: 1px solid rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.fieldsetStyle{
    text-align: center;
    border-radius: 10px;
}

.inputConsultas{
    width: 94%;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    padding-bottom: 80px;
    border-radius: 4px;margin-bottom: 16px;
    border: 1px solid rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;

}

.botons{
    width: 100%;
    background-color: gainsboro;
    border: none;
    border-radius: 4px;
    border: 1px solid black;
    padding: 12px;
    color: black;
    margin: 10px 0px 25px;
    font-size: 25px;
}

.botons:hover{
    color: gainsboro;
    background-color: black;
    border: 1px solid red;
}

/* íconos flex del mail y del teléfono */
.telefonoMailFlex{
    display: flex;
    justify-content: center;
}

/* flex ítems de los íconos */
.iconosHijos{
    color: red;
    font-size: 1.8rem;
    margin: 0px 10px;
    margin-bottom: 10px;
}

/* hover de íconos */
.iconosHijos:hover{
    color: white;
}


/* hacemos otra animacion, ahora para el formulario de contacto */
@keyframes deslizar{
    0%{
        transform: translate(-500px);
        opacity: 0;
    }

    100%{
        transform: translate(0px);
        opacity: 1;
    }
}

/* ahora vamos a hacer otra animacion, para ir viendo las diferentes posibilidades que hay */
@keyframes pulse{
    0%{
        transform: scale(0.9);
    }

    100%{
        transform: scale(1.2);
    }
}

/* LO DE ARRIBA FUE SOBRE EL HTML DE CONTACTO */

/* AHORA SIGUE CARRITO.HTML */
.totalDeCarrito{
    color: whitesmoke;
    font-size: larger;
    text-align: right;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

.mainCarrito{
    background-color: white;
    margin-bottom: 150px;
}

.iconoCarritoFlex{
    display: flex;
    justify-content: center;
}

/* vamos a trabajar el ícono del carrito */
.iconoCarrito{
    font-size: 10rem;
    color: red;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid black;
    border-radius: 300px;
    margin-top: 30px;
    background-color: black;
}

/* MEDIA QUERIES */
