/*----CARRITO----*/
.mainCarrito{
    margin-bottom: 150px;
    .iconoCarritoFlex{ 
        @include flex(flex, center, center, row);
        padding: map-get($responsive-container , padding-container );

        .iconoCarrito{
            font-family: nth($fontfamily, 1 );
            font-size: nth($fontsize, 9 );
            color: nth($fontcolor, 2 );
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 25px;
            padding-bottom: 25px;
            border: 1px solid black;
            border-radius: 300px;
            margin-top: 30px;
            background-color: black;
        }
    }
}