/* FOOTER */
#pie-de-pagina {
    width: map-get($responsive-container, width-container);
    padding: map-get($responsive-container, padding-container);
    border: 2px solid grey;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-top: 20px;                                                                                               
    h2 {
        font-family: nth($fontfamily, 1);
        font-size: nth($fontsize, 7);
        color: nth($fontcolor, 1);
        text-transform: uppercase;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .h5Flex {
        @include flex(flex, center, center, row);
        margin-bottom: 5px;

        .mapa {
            border-radius: 100px;
        }
    }

    .h5Flex2 {
        @include flex(flex, center, center, row);

        .redesSocialesContainer {
            font-size: nth($fontsize, 12);
            margin: 0px 10px;
            margin-bottom: 15px;
            list-style: none;

            .iconosRedes {
                color: nth($fontcolor, 2);
                &:hover {
                    color: white;
                }
            }
        }
    }
}