/*----INDEX----*/
.probandoImagen{
    background-image: url(../img/fondo-de-madera.jpg);
    width: 100%;
    h1{
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        margin: 0px;
        padding-top: 100px;
        animation: animacionTitulo 1.3s 1 ease-in-out;
        @keyframes animacionTitulo{
            0%{
                transform: translate(0px, -400px);
                opacity: 0;
               }
               
               100%{
                transform: translate(0px, 0px);
                opacity: 1;
               } 
        }
    }
    h2{
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 28px;
        text-align: center;
        text-transform: uppercase;
        margin: 0px;
        padding: 5px;
        animation: animacionSubtitulo 1.3s 1 ease-in-out;
        @keyframes animacionSubtitulo{
            0%{
                transform: translate(0px, 400px);
                opacity: 0;
            }
        
            100%{
                transform: translate(0px, 0px);
                opacity: 1;
            }
        }
    }
    .desde1960{
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        text-align: center;
        margin-bottom: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.h4Flex{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    background-color: black;
    
    .envios{
        color: white;
        margin: 0px;
        padding: 50px;
    }
    .aceptamosTodas{
        color: white;
        margin: 0px;
        padding: 50px;
    }
    .sitioSeguro{
        color: white;
        margin: 0px;
        padding: 50px;  
    }
}

.h3FLex{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New       Roman', serif;
    background-color: black;
    margin-bottom: 0px; 
    
    .cortesV{
        color: black;
    font-size: 25px;
    padding: 130px;
    background-image: url(../img/cortesVaca);
    border: 4px solid white;
    background-size: cover;
    }
    .cortesC{
        color: black;
    font-size: 25px;
    padding: 130px;
    background-image: url(../img/cortesCerdo.jpg);
    border: 4px solid white;
    background-size: cover;
    }
    .cortesP{
        color: black;
        font-size: 25px;
        padding: 130px;
        background-image: url(../img/cortesPollo.jpg);
        border: 4px solid white;
        background-size: cover; 
    }
}