/*----PRODUCTOS----*/
.mainProductos {
    color: nth($fontcolor, 1);
    margin-bottom: 150px;

    .containerColoFondo {
        position: relative;
    }

    .tiendaDeCarnes {
        position: absolute;
        padding: 15px;
        bottom: 2%;
        left: calc(50% - 165px);
        border: 1px solid white;
        background-color: black;

        .cuadradoDeLaImagen {
            font-family: nth($fontfamily, 1);
            font-size: nth($fontsize, 6);
            color: nth($fontcolor, 1);
            margin-bottom: 0px;
        }
    }

    .productosGrid {
        @include flex(flex, center, center, column);
        @include grid-productos(grid, repeat(3, 1fr), 35px);
        width: map-get($responsive-container, width-container);
        padding: map-get($responsive-container, padding-container);
        margin: map-get($responsive-container, margin-container);
        list-style: none;
        background-color: black;


        .cajas {
            @include flex(flex, center, flex-start, column);
            margin: map-get($responsive-container, margin-container);
            font-family: nth($fontfamily, 1);
            font-size: nth($fontsize, 10);
            color: nth($fontcolor, 1);
            border: 2px solid white;
            border-radius: 4px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

        }

        .c1 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/peceto_fondoNegro.webp);
        }

        .c2 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/nalga_fondoNegro.jpg);
        }

        .c3 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/bolaLomo_fondoNegro.jpg);
        }

        .c4 {
            @include cajas-productos (100%, 300px);
            background-image: url(../img/bifeChorizo_fondoNegro.jpg);
        }

        .c5 {
            @include cajas-productos (100%, 300px);
            background-image: url(../img/cuadrada_fondoNegro.jpg);
            }

        .c6 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/bifeAngosto_fondoNegro.jpg);
        }

        .c7 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/asado_fondoNegro.jpeg);
        }

        .c8 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/vacio_fondoNegro.jpg);
        }

        .c9 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/tapaAsado_fondoNegro.jpg);
        }

        .c10 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/tapa_nalga_fondoNegro.jpg);
        }

        .c11 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/matambre_fondoNegro.jpg);
        }

        .c12 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/americano_fondoNegro.jpg);
        }

        .c13{
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/entraña_fondoNegro.jpg);   
        }

        .c14 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/cima_fondoNegro.jpg);
        }

        .c15 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/bife_ancho_fondoNegro.jpg);
        }

        .c16 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/lomo2_fondoNegro.jpg);
        }

        .c17 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/roast_beef_fondoNegro.jpg);
        }

        .c18 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/paleta-fondoNegro.jpg);
        }

        .c19 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/cuadril_fondoNegro.jpg);
        }

        .c20 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/colitacuadril_fondoNegro.jpg);
        }

        .c21 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/palomita_fondoNegro.jpg);
        }
        
        .c22 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/tortuguita_fondoNegro.jpg);
        }
        

        .c23 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/osobuco_fondoNegro.jpg);
        }

        .c24 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/espinazo_fondoNegro.jpg);
        }

        .c25 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/escondido_fondoNegro.jpg);
        }

        .c26 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/chorizos_fondoNegro.jpg);
        }

        .c27 {
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/morcilla2_fondoNegro.jpg);
        }

        .c28{
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/pollo_fondoNegro.jpg);
        }

        .c29{
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/pechugas_fondoNegro.jpg);
        }

        .c30{
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/patamuslo_fondoNegro.jpg);
        }

        .c31{
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/pechitoCerdo2_fondoNegro.jpg);
        }

        .c32{
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/carreCerdo1_fondoNegro.jpg);
        }

        .c33{
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/bondiolaCerdo_fondoNegro.jpg);
        }

        .c34{
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/solomilloCerdo_fondoNegro.jpg);
        }

        .c35{
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/vacioCerdo_fondoNegro.jpg);
        }

        .c36{
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/paletaCerdo_fondoNegro.jpg);
        }

        .c37{
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/jamonCerdo2-fondoNegro.jpg);
        }

        .c38{
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/riñones_fondoNegro.jpg);
        }

        .c39{
            @include cajas-productos (100%, 300px);
            background-image: url(../../img/lengua_fondoNegro.jpg);
        }

    }

}