/*----PRODUCTOS----*/
.mainProductos {
    color: nth($fontcolor, 1);
    margin-bottom: 150px;

    .containerColoFondo {
        position: relative;
    }

    .tiendaDeCarnes {
        position: absolute;
        padding: 15px;
        bottom: 2%;
        left: calc(50% - 165px);
        border: 1px solid white;
        background-color: black;

        .cuadradoDeLaImagen {
            font-family: nth($fontfamily, 1);
            font-size: nth($fontsize, 6);
            color: nth($fontcolor, 1);
            margin-bottom: 0px;
        }
    }

    .productosGrid {
        @include flex(flex, center, center, column);
        @include grid-productos(grid, repeat(3, 1fr), 35px);
        width: map-get($responsive-container, width-container);
        padding: map-get($responsive-container, padding-container);
        margin: map-get($responsive-container, margin-container);
        list-style: none;
        background-color: black;


        .cajas {
            @include flex(flex, center, flex-start, column);
            margin: map-get($responsive-container, margin-container);
            font-family: nth($fontfamily, 1);
            font-size: nth($fontsize, 10);
            color: nth($fontcolor, 1);
            border: 2px solid white;
            border-radius: 4px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            
        }

        .c1 {
            @include cajas-productos (100%, 300px);
            background-image: url(../img/peceto_fondoNegro.webp);
        }

        .c2 {
            @include cajas-productos (100%, 300px);
            background-image: url(../img/nalga_fondoNegro.jpg);
        }

        .c3 {
            @include cajas-productos (100%, 300px);
            background-image: url(../img/bolaLomo_fondoNegro.jpg);
        }

        .c4 {
            @include cajas-productos (100%, 300px);
            background-image: url(../img/bifeChorizo_fondoNegro.jpg);
        }

        .c5 {
            @include cajas-productos (100%, 300px);
            background-image: url(../img/cuadrada_fondoNegro.jpg);
        }

        .c6 {
            @include cajas-productos (100%, 300px);
            background-image: url(../img/bifeAngosto_fondoNegro);
        }

        .c7 {
            @include cajas-productos (100%, 300px);
            background-image: url(../img/asado_fondoNegro.jpeg);
        }

        .c8 {
            @include cajas-productos (100%, 300px);
            background-image: url(../img/vacio_fondoNegro.jpg);
        }

        .c9 {
            @include cajas-productos (100%, 300px);
            background-image: url(../img/tapaAsado_fondoNegro.jpg);
        }

    }

}