/* QUIÉNES SOMOS */ 
.mainFlex{
    @include flex(flex, center, center, column);
    width: map-get($responsive-container, width-container);
    padding: map-get($responsive-container, padding-container);
    margin: map-get($responsive-container, margin-container);
    color: nth($fontcolor, 1);
    
    .imagenDeQuienesSomos{
        width: 200px;
        height: 200px;
        margin-top: 50px;
        margin-bottom: 50px;
        border: 1px solid white;
        border-radius: 100px;
    }

    .textoNegocio{
        font-family: nth($fontfamily, 1);
        font-size: nth($fontsize, 7);
        color: nth($fontcolor, 1);
        margin-top: 50px;
        margin-bottom: 50px;
        width: 70%;
        text-align: center;
    }
}